body {
    font-family: Times, "Yu Mincho", "Hiragino Mincho ProN",serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 4px #828282;
    color: #E83015;
    margin: 1em auto 0;
}
h2 {
    text-align: center;
    font-weight: normal;
    text-shadow: 1px 1px 4px #828282;
    margin: 0 auto 1.5em;
}
div {
    border-radius: 1em 0 0 1em;
    margin: 3px 0 3px 0.4em;
    height: 3em;
}
p {
    color: white;
    padding: 1em 0;
    margin: auto 0;
    line-height: 1em;
}
code {
    font-family: Inconsolata, "Fira Code", "Source Code Pro", Consolas, Menlo, Courier, monospace;
    padding: 0 0.4em;
    border: 2px solid white;
    border-radius: 0.4em;
    margin-left: 1em;
}
span {
    padding: 0 0 0 1em;
}
.kanji {
    font-weight: bold;
}
#sakura, #shironeri, #gofun {
    color: #434343;
}
#sakura code, #shironeri code, #gofun code {
    border: 2px solid #434343;
}
a:link {
    color: #0C0C0C;
    text-decoration: none;
}
a:visited {
    color: #0C0C0C;
    text-decoration: none;
}
a:hover {
    color: #1B813E;
    text-decoration: underline;
}
a:active {
    color: #E83015;
    text-decoration: underline;
}
@media (min-width: 480px){
    body {
        font-size: 1.5em;
    }
}
