body {font-size: 15px;
      font-family: Helvetica, Arial, "Source Han Sans SC", "Microsoft YaHei", "Hiragino Sans GB", sans-serif;
      background-color: white;}

h1 {
    text-align: center;
    font-weight: lighter;
    text-shadow: 1px 1px 4px #828282;
    color: #0C0C0C;
    margin: 1em auto 0;
}

#avatar img {
    border-radius: 50%;
    max-height: 256px;
}

a:link {
    color: #0C0C0C;
    text-decoration: none;
}
a:visited {
    color: #0C0C0C;
    text-decoration: none;
}
a:hover {
    color: #0C0C0C;
    text-decoration: none;
}
a:active {
    color: #0C0C0C,
    text-decoration: none;
}

@media (max-width:480px) {
	#avatar img {max-height: 128px;}
}
